<div class="panel">
	<div class="pad-all text-center ">
		<img height="128" style="cursor: pointer;" src='images/upload-file.png' no-image-file='' class="input-image jsetup-upload-image   img-lg img-circl mar-btm">
		<div class="btn-group btn-group-justified pad-top">
			<a href="javascript:void(-1)" class="btn btn-icon bord-no  fa fa-external-link icon-lg"></a>
			<a href="javascript:void(-1)" class="remove-preview btn btn-icon bord-no fa fa-2x fa-trash icon-lg" style="display: none"></a>
		</div>
	</div>
</div>
<input type="file" name="files[]" style="display: none" class="input-upload-file" multiple="multiple">