<div class="modal fade hmodal-danger in" id="modalError" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="color-line"></div>
			<div class="modal-header text-center">
				<h4 class="modal-title">Erro!</h4>
				<small class="font-bold">Foram identificados os seguintes erros</small>
			</div>
			<div class="modal-body">
			
			
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>