<!-- generated: 30/08/2015 20:23:12 -->
<!-- Attribute´s page -->
<div class="main-content-inner">
	<div class="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="#">Home</a>
			</li>
			<li class="active">Pesquisar Attribute</li>
		</ul>
	</div>
	<div class="page-content">
		<h1>Pesquisar Attribute</h1>
		<div class="main-content">
			<div class="panel panel-default plain">
				<div class="">
					<div class="col-xs-12 col-sm-12">
				<form role="form" id="formAttributeFilter">
					<br>
							<div id="groupInputName" class="form-group">
								<label class="control-label" for="inputName">Nome</label>
								<input type="text" id="inputName" placeholder="Pesquise pelo Nome"  class="form-control">
							</div>
							<div id="groupInputDisplayName" class="form-group">
								<label class="control-label" for="inputDisplayName">Nome apresentado na tela</label>
								<input type="text" id="inputDisplayName" placeholder="Pesquise pelo Nome apresentado na tela"  class="form-control">
							</div>
							<div id="groupInputMaxLen" class="form-group">
								<label class="control-label" for="inputMaxLen">Tamanho máximo</label>
								<input type="text" id="inputMaxLen" placeholder="Pesquise pelo Tamanho máximo"  class="form-control">
							</div>
							<div id="groupInputTableFieldName" class="form-group">
								<label class="control-label" for="inputTableFieldName">Nome da coluna na tabela</label>
								<input type="text" id="inputTableFieldName" placeholder="Pesquise pelo Nome da coluna na tabela"  class="form-control">
							</div>
							<div id="groupInputMasc" class="form-group">
								<label class="control-label" for="inputMasc">Formato de Máscara</label>
								<input type="text" id="inputMasc" placeholder="Pesquise pelo Formato de Máscara"  class="form-control">
							</div>
							<div id="groupInputDefaultValue" class="form-group">
								<label class="control-label" for="inputDefaultValue">Valor padrão</label>
								<input type="text" id="inputDefaultValue" placeholder="Pesquise pelo Valor padrão"  class="form-control">
							</div>
							<div id="groupInputPlaceholder" class="form-group">
								<label class="control-label" for="inputPlaceholder">Placeholder</label>
								<input type="text" id="inputPlaceholder" placeholder="Pesquise pelo Placeholder"  class="form-control">
							</div>
							<div id="groupInputRequired" class="form-group">
								<label class="control-label" for="inputRequired">Obrigatório</label>
								<input type="text" id="inputRequired" placeholder="Pesquise pelo Obrigatório"  class="form-control">
							</div>
							<div id="groupInputUnique" class="form-group">
								<label class="control-label" for="inputUnique">Único</label>
								<input type="text" id="inputUnique" placeholder="Pesquise pelo Único"  class="form-control">
							</div>
						<div id="groupInputEntityContainer" class="form-group">
							<label class="control-label" for="inputEntity">Entidade</label>
							<div id="groupInputEntity" class="input-group">
								<input id="inputEntityId" type="hidden" class="form-control append-left"  />
								<input id="inputEntityName" placeholder="Pesquise pelo Entidade"  type="text" class="form-control append-left" />
								<div class="input-group-addon append-right" id="searchEntityModal" data-toggle="modal">
									<span class="fa fa-search"></span>
								</div>
							</div>
						</div>		
					
					</form>
				</div>
			</div>
			<div class="clearfix form-actions form-group mb15">
				<div class="col-md-9">
					<a href="javascript:void(0)" id="query" class="btn btn-primary">
						<i class="fa fa-search"></i>
						Pesquisar
					</a>
					&nbsp;
					<a href="#app/newAttribute" class="btn btn-info">
						<i class="fa fa-plus "></i>
						Novo
					</a>
					&nbsp;
					<a href="javascript:void(0)" id="reset" class="btn btn-default">Limpar</a>
				</div>
			</div>
			</div>
			<div class="panel panel-default plain toggle panelClose panelRefresh">
				<div class="panel-body">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div>
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid" class="table-responsive"></div>
							<div class="">
								<div id="counter" class=" pull-left"></div>
								<div id="paginator" class=" pull-right"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='entityModal'></div>
