<!-- generated: 30/08/2015 20:23:12 -->
<!-- Cliente´s form -->
<div class="main-content-inner">
	<div class="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="#">Home</a>
			</li>
			<li class="active">Cadastrar Cliente</li>
		</ul>
	</div>
	
	<div class="page-content">
		<h1>Cadastrar Cliente</h1>
		<div class="main-principal">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
				<div id="messages_div"></div>
				</div>
			</div>
			<div class="hr-24"></div>
			
			<div class="panel panel-default plain">
				<div class="">
					<div class="col-xs-12 col-sm-12">
			
				<form role="form" id="formCliente">
				<br>
				<input type="hidden" id="inputId" value="{{id}}">
					<div id="groupInputNome" class="form-group">
						<label class="control-label" for="inputNome">Nome</label>
						<input type="text" id="inputNome" placeholder="Nome" value="{{nome}}" class="form-control  validate[required]">
					</div>
					
					<div id="groupInputEmail" class="form-group">
						<label class="control-label" for="inputEmail">Email</label>
						<input type="text" id="inputEmail" placeholder="Email" value="{{email}}" class="form-control  ">
					</div>
					
					<div id="groupInputCpf" class="form-group">
						<label class="control-label" for="inputCpf">Cpf</label>
						<input type="text" id="inputCpf" placeholder="cpf" value="{{cpf}}" class="form-control  ">
					</div>
					
					<div id="groupInputTelefone" class="form-group">
						<label class="control-label" for="inputTelefone">Outro Telefone</label>
						<input type="text" id="inputTelefone" placeholder="Outro Telefone" value="{{telefone}}" class="form-control  ">
					</div>
					
					<div id="groupInputOutroTelefone" class="form-group">
						<label class="control-label" for="inputOutroTelefone">Outro Telefone</label>
						<input type="text" id="inputOutroTelefone" placeholder="Outro Telefone" value="{{outroTelefone}}" class="form-control  ">
					</div>
					
				</form>
				</div>
			</div>
			<div class="clearfix form-actions form-group mb15">
				<div class="col-md-9">
					<a href="javascript:void(0)" id="save"  class="save btn btn-primary">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Salvar
					</a>
					&nbsp;
					<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a>
					&nbsp;

					<a class="go-back-link btn btn-default" href="#app/clientes">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar para a listagem
					</a>
				</div>
			</div>
    	  </div>
		</div>
	</div>
</div>				
