<div class="hpanel hblue" style="padding: 5px; margin-bottom: 5px">
	<div class="panel-heading hbuilt" style="padding: 3px;">
		<div class="panel-tools">
			<a class="showhide">
				<i class="fa fa-chevron-up"></i>
			</a>
		</div>
		<a href="javascript:void(-1)" data-type="text" data-placement="right" data-title="Enter username" class="editable editable-click entity-name" data-original-title="" title=""> Atributo </a>
	</div>
	<div class="panel-body " style="padding: 5px">
		<span>
			<strong>Invoice Date:</strong>
			May 16, 2016
		</span>
		<br>
		<span>
			<strong>Due Date:</strong>
			May 24, 2016
		</span>
	</div>
</div>
