<div class="hpanel hblue" style="padding: 5px; margin-bottom: 5px">
	<div class="panel-heading hbuilt" style="padding: 3px;">
		<div class="panel-tools">
			<a class="showhide">
				<i class="fa fa-chevron-up"></i>
			</a>
		</div>
		<a href="javascript:void(-1)" data-type="text" data-placement="right" data-title="Digite o nome do atributo" class="editable editable-click entity-name" data-original-title="" title=""> Atributo </a>
	</div>
	<div class="panel-body " style="padding: 5px">
		<span>
			Nome de exibição:
			<span class="editable editable-click inputDisplayName" data-placement="right" data-title="Digite o nome a exibir"></span>
		</span>
		<br>
		<span>
			Tipo:
			<span class="editable editable-click inputType" data-placement="right" data-title="Tipo do atributo"></span>
		</span>
		<br>
		<span>
			<strong>Coluna tabela:</strong>
			<span class="editable editable-click inputTableFieldName " data-placement="right" data-title="Digite um nome para a coluna no BD"></span>
		</span>
		<br>
		<span>
			<strong>Máscara:</strong>
			<span class="editable editable-click inputMask" data-placement="right" data-title="digite uma máscara"></span>
		</span>
		<br>
	</div>
</div>
