<div class="hpanel hblue entity_{{id}}">
	<div class="panel-heading hbuilt" style="padding: 5px">
		<input id="inputId" type="hidden" value={{id}}>
		<div class="panel-tools" style="margin-top: 10px;">
			<input id="inputId" type="hidden" value={{id}}>
			<a class="show-hide-ent" data-toggle="tooltip" data-placement="top" title="" data-original-title="mostrar/esconder atributos">
				<i class="fa fa-15x fa-chevron-up"></i>
			</a>
			<a class="add-attribute" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Novo Atributo">
				<i class="fa fa-15x fa-plus add-attr"></i>
			</a>
			<a class="add-relation" data-toggle="tooltip" data-placement="top" title="" data-original-title="Novo relacionamento">
				<i class=" fa fa-15x fa-link "></i>
			</a>
			<a class="rem-entity" data-toggle="tooltip" data-placement="right" title="" data-original-title="Remove Entidade">
				<i class="fa fa-15x fa-trash-o"></i>
			</a>
		</div>
		<h4>
			<a href="javascript:void(-1)" data-type="text" data-placement="right" data-title="Nome da Entidade" class="editable editable-click inputEntityName" data-original-title="" title="">{{name}}</a>
		</h4>
	</div>
	<div class="panel-body " style="padding: 5px">
		<div class="entity-content">
			<span>
				Mobile?:&nbsp;
				<input style="margin: 0px" type="checkbox" class="inputHasMobile"{{hasMobile ? 'checked' :''}}>
			</span>
			<br>
			<span>
				Nome de exibição:&nbsp;
				<a class="editable editable-click inputDisplayName" data-placement="right" data-title="Digite o nome a exibir">{{displayName}}</a>
			</span>
			<br>
			<span>
				Nome Tabela: &nbsp;
				<a class="editable editable-click inputTableName " data-placement="right" data-title="Digite um nome para a tabela">{{tableName}} </a>
			</span>
			<br>
			<div class="widget-entidade attributes"></div>
			<div class="widget-entidade relationships"></div>
		</div>
	</div>
	<div class="panel-footer entity-content">
		Observações: &nbsp;
		<p class="editable editable-click" data-title="Observações da entidade">{{notes}}</p>
	</div>
</div>