
<div class="hpanel hblue">
	<div class="panel-heading hbuilt">
		<div class="pull-left">
			<span style="padding-right: 20px">
				Criação das entidades para a aplicação
				<strong>Cadastro Funcionario</strong>
			</span>
			<button id="novaEntidade" class="btn btn-success btn-default btn-xs" type="button">
				<i class="fa fa-plus-square-o fa-15x"></i>
				Nova Entidade
			</button>
			<button id="salvaEntidades" class="btn btn-success btn-default btn-xs" type="button">
				<i class="fa fa-check fa-15x"></i>
				Salva e valida entidades
			</button>
		</div>
		&nbsp;
	</div>
	<div id="messages_div"></div>
	<div class="panel-body drag-entities" style="padding-top: 0px;">
		<div class="row entidades"></div>
	</div>
</div>
