<div class="main-content-inner">
	<div class="main-content-inner">
		<div class="normalheader transition animated fadeIn small-header">
			<div class="hpanel hblue">
				<div class="panel-heading hbuilt">
					Criação das entidades para a aplicação
					<strong>Cadastro Funcionario</strong>
				</div>
				<div class="panel-body">
					<div class="tooltip-demo text-center">
						<button id="novaEntidade" class="btn btn-success" type="button">
							<i class="pe-7s-plus"></i>
							Nova Entidade
						</button>
						<button id="salvaEntidades" class="btn btn-success" type="button">
							<i class="pe-7s-plus"></i>
							Salva entidades
						</button>
					</div>
				</div>
				<!-- 	<div class="panel-footer">This is standard panel footer</div> -->
			</div>
			<div class="page-content">
				<div class="main-content">
					<div class="row entidades"></div>
				</div>
			</div>
		</div>
	</div>
</div>