<!-- generated: 30/08/2015 20:23:12 -->
<!-- Modal Attribute´s form -->
<div class="modal fade" id="dialogAttribute" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Attribute</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchAttribute">
							<div id="groupInputModalName" class="form-group">
								<label class="control-label" for="inputModalName">Nome</label>
								<input type="text" id="inputModalName" placeholder="Nome"  class="form-control">
							</div>
							
							<div id="groupInputModalDisplayName" class="form-group">
								<label class="control-label" for="inputModalDisplayName">Nome apresentado na tela</label>
								<input type="text" id="inputModalDisplayName" placeholder="Nome apresentado na tela"  class="form-control">
							</div>
							
							<div id="groupInputModalMaxLen" class="form-group">
								<label class="control-label" for="inputModalMaxLen">Tamanho máximo</label>
								<input type="text" id="inputModalMaxLen" placeholder="Tamanho máximo"  class="form-control">
							</div>
							
							<div id="groupInputModalTableFieldName" class="form-group">
								<label class="control-label" for="inputModalTableFieldName">Nome da coluna na tabela</label>
								<input type="text" id="inputModalTableFieldName" placeholder="Nome da coluna na tabela"  class="form-control">
							</div>
							
							<div id="groupInputModalMasc" class="form-group">
								<label class="control-label" for="inputModalMasc">Formato de Máscara</label>
								<input type="text" id="inputModalMasc" placeholder="Formato de Máscara"  class="form-control">
							</div>
							
							<div id="groupInputModalDefaultValue" class="form-group">
								<label class="control-label" for="inputModalDefaultValue">Valor padrão</label>
								<input type="text" id="inputModalDefaultValue" placeholder="Valor padrão"  class="form-control">
							</div>
							
							<div id="groupInputModalPlaceholder" class="form-group">
								<label class="control-label" for="inputModalPlaceholder">Placeholder</label>
								<input type="text" id="inputModalPlaceholder" placeholder="Placeholder"  class="form-control">
							</div>
							
							<div id="groupInputModalRequired" class="form-group">
								<label class="control-label" for="inputModalRequired">Obrigatório</label>
								<input type="text" id="inputModalRequired" placeholder="Obrigatório"  class="form-control">
							</div>
							
							<div id="groupInputModalUnique" class="form-group">
								<label class="control-label" for="inputModalUnique">Único</label>
								<input type="text" id="inputModalUnique" placeholder="Único"  class="form-control">
							</div>
							
		
					<div class="form-actions spinner" id="spinAttribute">
						<a href="javascript:void(0)" id="btnSearchAttribute" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearAttribute" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoAttributeDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-attribute" class="table-responsive"></div>
							<div class="">
								<div id="counter" class=" pull-left"></div>
								<div id="paginator-attribute" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

