<!-- generated: 30/08/2015 20:23:12 -->
<!-- Modal ViewApproach´s form -->
<div class="modal fade" id="dialogViewApproach" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de ViewApproach</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchViewApproach">
							<div id="groupInputModalType" class="form-group">
								<label class="control-label" for="inputModalType">Tipo</label>
								<input type="text" id="inputModalType" placeholder="Tipo"  class="form-control">
							</div>
							
							<div id="groupInputModalComboId" class="form-group">
								<label class="control-label" for="inputModalComboId">Id visto no combo</label>
								<input type="text" id="inputModalComboId" placeholder="Id visto no combo"  class="form-control">
							</div>
							
							<div id="groupInputModalComboName" class="form-group">
								<label class="control-label" for="inputModalComboName">Nome visto no combo</label>
								<input type="text" id="inputModalComboName" placeholder="Nome visto no combo"  class="form-control">
							</div>
							
							<div id="groupInputModalComboVal" class="form-group">
								<label class="control-label" for="inputModalComboVal">Valor visto no combo</label>
								<input type="text" id="inputModalComboVal" placeholder="Valor visto no combo"  class="form-control">
							</div>
							
							<div id="groupInputModalTextField" class="form-group">
								<label class="control-label" for="inputModalTextField">Campo de texto no modal</label>
								<input type="text" id="inputModalTextField" placeholder="Campo de texto no modal"  class="form-control">
							</div>
							
							<div id="groupInputModalHiddenField" class="form-group">
								<label class="control-label" for="inputModalHiddenField">Campo de escondido do modal</label>
								<input type="text" id="inputModalHiddenField" placeholder="Campo de escondido do modal"  class="form-control">
							</div>
							
		
					<div class="form-actions spinner" id="spinViewApproach">
						<a href="javascript:void(0)" id="btnSearchViewApproach" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearViewApproach" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoViewApproachDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-viewApproach" class="table-responsive"></div>
							<div class="">
								<div id="counter" class=" pull-left"></div>
								<div id="paginator-viewApproach" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

