<div class="hpanel stats hyellow">
	<div class="panel-body text-center h-200" style="padding: 5px">
		<a class="skin-name" href='javascript:void(-1)' target="_blank">
			<i class="pe-7s-display1 fa-5x " data-toggle="tooltip" data-placement="right" title="" data-original-title="Visualizar Template escolhido"></i>
		</a>
		<h3 class="font-extra-bold no-margins text-success">
			<a style="color: #3498db; font-size: 1.5em" href="#app/editApplication/{{id}}">{{name}}</a>
		</h3>
		<p>{{description}}</p>
		</p>
		<small class="text-left">
			<span class="text-left " style="text-decoration: underline;">Entidades </span>
			<span class="text-left ">
				<p class="text-left desc-entities"></p>
			</span>
		</small>
	</div>
	<div class="panel-footer ">{{rootPackage}}</div>
</div>