<!-- FormApplicationTemplate ini-->
<div class="hpanel small-header-action" style="margin-bottom: 5">
	<div class="panel-body" style="padding: 5">
		<div class="row ">
			<div class="col-md-2">
				<h2 class="font-light m-b-xs">Cadastro</h2>
				<p>Entre com todas as informações da aplicação</p>
			</div>
			<div class="col-md-2">
				<a href="#app/newApplication" style="margin-top: 40px;" class="btn btn-outline btn-success save ">
					<i class="pe-7s-check"></i>
					Salvar
				</a>
			</div>
		</div>
	</div>
</div>
<div class="hpanel hblue">
	<div class="panel-body">
		<form role="form" id="formApplication">
			<div id="groupInputSkin" class="form-group ">
				<div class="hpanel">
					<div class="panel-heading ">
						<div class="panel-tools"></div>
						Criar nova aplicação
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<div id="skinCarousel" class="carousel slide" data-interval="false">
									<!-- Indicators -->
									<ol class="carousel-indicators" style="color: #6a6c6f; border-color: #6a6c6f">
										<li data-target="#myCarousel" data-slide-to="0" style="background-color: #6a6c6f; color: #6a6c6f; border-color: #6a6c6f"></li>
										<li data-target="#myCarousel" data-slide-to="1" style="background-color: #6a6c6f; color: #6a6c6f; border-color: #6a6c6f"></li>
									</ol>
									<!-- Wrapper for slides -->
									<div class="carousel-inner" role="listbox">
										<div class="item active" skin="Ace">
											<img src="images/templates/Ace.png" alt="Ace">
											<div class="carousel-caption">
												<h3 style="font-size: 60px; color: #6a6c6f">Ace</h3>
											</div>
										</div>
										<div class="item " skin="Nifty">
											<img src="images/templates/Nifty.png" alt="Nifty">
											<div class="carousel-caption">
												<h3 style="font-size: 60px; color: #6a6c6f">Nifty</h3>
											</div>
										</div>
									</div>
									<!-- Left and right controls -->
									<a class="left carousel-control custom-carrousel-control custom-carrousel-control" href="#skinCarousel" role="button" data-slide="prev">
										<i class="fa fa-fast-backward fa-2x"></i>
										<span class="sr-only">Anterior</span>
									</a>
									<a class="right carousel-control custom-carrousel-control" href="#skinCarousel" role="button" data-slide="next">
										<i class="fa fa-fast-forward fa-2x"></i>
										<span class="sr-only">Próximo</span>
									</a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="detalhes">
									<input type="hidden" id="inputId" value="{{id}}">
									<div id="groupInputSkin" class="form-group" style='display: none;'>
										<label class="control-label" for="inputSkin">Template</label>
										<input type="text" id="inputSkin" placeholder="Template" value="{{skin || 'Ace'}}" class="form-control" readonly="readonly">
									</div>
									<div id="groupInputName" class="form-group">
										<label class="control-label" for="inputName">Nome</label>
										<input type="text" id="inputName" placeholder="Nome" value="{{name}}" class="form-control  validate[required]">
									</div>
									<div id="groupInputName" class="form-group">
										<label class="control-label" for="inputName">Descrição</label>
										<textarea id="inputDescription" rows="3" placeholder="Nome" value="{{description}}" class="form-control  "> {{description}}</textarea>
									</div>
									<div class="row">
										<div id="groupInputRootPackage" class="form-group col-sm-12 col-md-6 col-lg-6">
											<label class="control-label" for="inputRootPackage">Pacote raiz</label>
											<input type="text" id="inputRootPackage" placeholder="Exemplo:. br.com.locadora" value="{{rootPackage }}" class="form-control  validate[required]">
										</div>
										<div id="groupInputCorePackage" class="form-group col-sm-12 col-md-6 col-lg-6">
											<label class="control-label" for="inputCorePackage">Pacote base</label>
											<input type="text" id="inputCorePackage" placeholder="Exemplo:. br.com.locadora.core" value="{{corePackage }}" class="form-control  validate[required]">
										</div>
									</div>
									<div class="row">
										<div id="groupApplicationType" class="form-group col-sm-12 col-md-6 col-lg-6">
											<label class="control-label" for="inputApplicationType">Tipo de Aplicação</label>
											<select id="inputApplicationType" class="form-control ">
												<option value="MVC" {{applicationType=='MVC' ? 'selected' : '' }}>Spring Web MVC</option>
											</select>
										</div>
										<div id="groupConfigurationType" class="form-group col-sm-12 col-md-6 col-lg-6">
											<label class="control-label" for="inputConfigurationType">Configuração</label>
											<select id="inputConfigurationType" class="form-control ">
												<option value="JAVA" {{configurationType=='JAVA' ? 'selected' : '' }}>Baseada em Java</option>
												<option value="XML" {{configurationType=='XML' ? 'selected' : '' }}>Baseada em Xml</option>
											</select>
										</div>
									</div>
									<div class="row">
										<div id="groupInputMultitenancy" class="form-group col-sm-12 col-md-3 col-lg-3">
											<input type="checkbox" id="inputMultitenancy" {{multitenancy ? 'checked' :''}}  class="magic-checkbox">
											<label class="checkbox-label" for="inputMultitenancy">Multitenancy</label>
										</div>
										<div id="groupInputUseAudit" class="form-group col-sm-12 col-md-3 col-lg-3">
											<input type="checkbox" id="inputUseAudit" {{useAudit ? 'checked' :''}} class="magic-checkbox">
											<label class="checkbox-label" for="inputUseAudit">Usar Auditoria</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix form-actions form-group mb15">
					<div class="col-md-9">
						<a href="javascript:void(0)" id="save" class="save btn btn-primary">
							<i class="ace-icon save fa fa-check bigger-110"></i>
							Salvar
						</a>
						<a href="javascript:void(0)" id="saveAndVisual" class=" btn btn-primary">
							<i class="ace-icon save fa fa-check bigger-110"></i>
							Salvar e gerar Entidades
						</a>
						&nbsp;
						<a class="go-back-link btn btn-default" href="#app/visual/{{id}}">
							<i class="ace-icon fa fa-undo bigger-110"></i>
							Visual
						</a>
						<!-- 						<a class=" btn btn-default" href="#app/helpGenerateYaml/50"> -->
						<!-- 							<i class="ace-icon fa fa-undo bigger-110"></i> -->
						<!-- 							Gerar YAML -->
						<!-- 						</a> -->
					</div>
				</div>
		</form>
	</div>
</div>
<!-- FormApplicationTemplate final-->
