
<div class="hpanel hblue">
	<div class="panel-heading hbuilt">
		<div class="pull-left">
			<span style="padding-right: 20px">Cadastro de aplicação</span>
			<a href="javascript:void(0)" id="save" class=" btn save btn-default btn-xs">
				<i class="save fa fa-check fa-15x"></i>
				Salvar
			</a>
			&nbsp;
			<a href="javascript:void(0)" class=" saveAndContinue btn  btn-default btn-xs">
				<i class="fa fa-check fa-15x"></i>
				Salvar e criar entidades
			</a>
			&nbsp;
			<a class="go-back-link btn-default btn btn-xs" href="#app/applications">
				<i class="fa fa-undo fa-15x"></i>
				Voltar para a listagem
			</a>
		</div>
		&nbsp;
	</div>
	<div class="panel-body">
		<form role="form" id="formApplication">
			<input type="hidden" id="inputId" value="{{id}}">
			<div id="groupInputName" class="form-group">
				<label class="control-label" for="inputName">Nome</label>
				<input type="text" id="inputName" placeholder="Nome" value="{{name}}" class="form-control  validate[required]">
			</div>
			<div id="groupInputSkin" class="form-group">
				<label class="control-label" for="inputSkin">Template</label>
				<select id="inputSkin" placeholder="Template" value="{{skin}}" class="form-control  validate[required]">
					<option value="">-- Selecione --</option>
					<option value="ace">ace</option>
					<option value="homer">homer</option>
					<option value="inspinia">inspinia</option>
					<option value="sprflat">sprflat</option>
				</select>
			</div>
			<div id="groupInputName" class="form-group">
				<label class="control-label" for="inputName">Descrição</label>
				<textarea id="inputDescription" rows="4" placeholder="Nome" value="{{description}}" class="form-control  "> {{description}}</textarea>
			</div>
			<div id="groupInputRootPackage" class="form-group">
				<label class="control-label" for="inputRootPackage">Pacote raiz</label>
				<input type="text" id="inputRootPackage" placeholder="Pacote raiz" value="{{rootPackage}}" class="form-control  validate[required]">
			</div>
		</form>
	</div>
</div>
