<!-- PageApplicationTemplate ini -->
<div class="hpanel small-header-action" style="margin-bottom: 5">
	<div class="panel-body" style="padding: 5">
		<div class="row ">
			<div class="col-md-2">
				<h2 class="font-light m-b-xs">Aplicações</h2>
				<p>Lista de Todas as suas aplicações</p>
			</div>
			<div class="col-md-2">
				<a href="#app/newApplication" style="margin-top: 40px;" class="btn btn-outline btn-default">
					<i class="pe-7s-plus"></i>
					Nova Aplicação
				</a>
			</div>
		</div>
	</div>
</div>
<div class="hpanel ">
	<div id="messages_div"></div>
	<div class="panel-body" style="padding: 0">
		<div id="grid" class="row-fluid"></div>
	</div>
</div>
</div>
</div>
<!-- PageApplicationTemplate fim -->