<!-- PageApplicationTemplate ini -->
<div class="hpanel hblue">
	<div id="messages_div"></div>
	<div class="panel-body">
		<div>
			<div id="sample-table-2_wrapper"
				class="dataTables_wrapper form-inline no-footer">
				<div id="messages_div"></div>
				<div id="grid" class="table-responsive"></div>
				<div class="">
					<div id="counter" class=" pull-left"></div>
					<div id="paginator" class=" pull-right"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- PageApplicationTemplate fim -->