<!-- Floating Action Button -->
<div class="fixed-action-btn" style="bottom: 10px; right: 10px;">
	<a class="ui-btn ui-btn-inline ui-btn-fab  ui-btn-raised clr-primary float-button-add-new">
		<i class="zmdi zmdi-filter-list zmdi-hc-2x"></i>
	</a>
	<ul style="list-style: none;">
		<li>
			<a href="javascript:void(-1)" class="btn-floating red cancel-button">
				<i class="zmdi zmdi-block"></i>
			</a>
		</li>
		<li>
			<a href="javascript:void(-1)" class="btn-floating blue save-button">
				<i class="zmdi zmdi-check"></i>
			</a>
		</li>
	</ul>
</div>