
<div class="nd2-card ">
	<div class="card-title has-supporting-text">
		<h3 class="card-primary-title">
			<span class="primary-info"> </span>
		</h3>
		<h5 class="card-subtitle">
			<span class="secondary-info"> </span>
		</h5>
		<p class="card-subtitle">
			<span class="tertiary-info"> Jack Dawson (Leonardo DiCaprio) é um jovem aventureiro que, na mesa de jogo, ganha uma passagem para a primeira viagem do transatlântico Titanic. Trata-se de um luxuoso e imponente navio, anunciado na época como inafundável, que
				parte para os Estados Unidos.</span>
		</p>
	</div>
	<div class="card-action">
		<div class="row between-xs">
			<div class="col-xs-12 align-right">
				<div class="box">
					<a href="javascript:void(-1)" class="ui-btn ui-btn-inline cancel-button">Remover</a>
					<a href="javascript:void(-1)" class="ui-btn ui-btn-inline edit-button">Editar</a>
				</div>
			</div>
		</div>
	</div>
</div>
