
<div class="inspetor-entidades-view hpanel " attrb-name="inspetorEntidadesViewTemplate">
	<div class="hpanel  entity_{{id}}">
		<div class="panel-heading hbuilt">
			<input id="inputId" type="hidden" value={{id}}>
			<div class="panel-tools">
				<input id="inputId" type="hidden" value={{id}}>
				<a class="show-hide-ent" data-toggle="tooltip" data-placement="top" title="" data-original-title="mostrar/esconder atributos">
					<i class="fa fa-15x icon-expand-entity fa-chevron-up"></i>
				</a>
				<a class="add-attribute" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Novo Atributo">
					<i class="fa fa-15x fa-plus add-attr"></i>
				</a>
			</div>
			<h4>
				<a href="javascript:void(-1)" data-type="text" data-placement="right" data-title="Nome da Entidade" class=" editable editable-click inputEntityName" data-original-title="" title="">{{name}}</a>
			</h4>
		</div>
		<div class="panel-body " style="padding: 2px">
			<div class="entity-content">
				<!-- 						<span> -->
				<!-- 							Mobile?:&nbsp; -->
				<!-- 							<input style="margin: 0px" type="checkbox" class="inputHasMobile"{{hasMobile ? 'checked' :''}}> -->
				<!-- 						</span> -->
				<!-- 						<br> -->
				<span>
					Nome de exibição:&nbsp;
					<a class="editable editable-click inputDisplayName" data-placement="right" data-title="Digite o nome a exibir">{{displayName}}</a>
				</span>
				<br>
				<span>
					Nome Tabela: &nbsp;
					<a class="editable editable-click inputTableName " data-placement="right" data-title="Digite um nome para a tabela">{{tableName}} </a>
				</span>
				<br>
				<span>
					Chave Primária: &nbsp;
					<a class="editable editable-click inputPk " data-placement="right" data-title="Digite um nome para pk">{{pk}} </a>
				</span>
				<br>
				<div class="widget-entidade attributes"></div>
				<div class="widget-entidade relationships"></div>
			</div>
		</div>
		<!-- 		<div class="panel-footer "> -->
		<!-- 			Observações: &nbsp; -->
		<!-- 			<p class="editable editable-click" data-title="Observações da entidade">{{notes}}</p> -->
		<!-- 		</div> -->
	</div>
</div>
<!-- <div class="panel-footer message-entity-inspector"></div> -->