<div class="panel-heading hbuilt">
	<div class="panel-tools">
		<a class="showhide">
			<i class="fa fa-chevron-up"></i>
		</a>
		<a class="closebox">
			<i class="fa fa-times"></i>
		</a>
	</div>
	<h5 style="text-align: center; cursor: move;">Inspetor de Relacionamentos</h5>
</div>
<div class="panel-body">
	<div class="row">
		<div class="col-lg-6 border-right animated-panel zoomIn" style="animation-delay: 0.3s;">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus</p>
		</div>
		<div class="col-lg-6  animated-panel zoomIn" style="animation-delay: 0.4s;">
			<p>posuere lectus et, fringilla augue. ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae accumsan.</p>
		</div>
	</div>
</div>
<div class="panel-footer">This is standard panel footer</div>
