<div class="panel-heading hbuilt">
	<div class="panel-tools">
		<a class="showhide">
			<i class="fa fa-chevron-up"></i>
		</a>
		<a class="closebox">
			<i class="fa fa-times"></i>
		</a>
	</div>
	<h5 style="text-align: center; cursor: move;">Inspetor de Relacionamentos</h5>
</div>
<div class="">
	<div class="row ">
		<div class=" col-lg-6 border-right animated-panel zoomIn">
			<span class="origem origem-header" style="display: none">
				<span class="origem-class-name"> </span>
				<span class="dono-container-origem" style="float: right;">
					<span> Dono?</span>
					<input type="checkbox" class="check-dono-origem">
				</span>
			</span>
			<div class="source-container"></div>
		</div>
		<div class=" col-lg-6  animated-panel zoomIn">
			<span class="destino">
				<span class="target-class-name"> </span>
				<span class="dono-container-destino" style="float: right;">
					<span> Dono?</span>
					<input type="checkbox" class="check-dono-destino">
				</span>
			</span>
			<div class="target-container"></div>
		</div>
	</div>
</div>
<div class="panel-footer">
	<span id="message-relation-inspector"></span>
</div>
