
<input type="button" value="click" id="clickAki">
<div class="row ">
	<div class="col-md-10">
		<div id="paper"></div>
	</div>
	<div class="col-md-2">
		<div id="tool-panel">
			<div class="hpanel">
				<div class="panel-heading hbuilt">
					<div class="pull-right">
						<a class="btn btn-default btn-xs">Action 1</a>
						<a class="btn btn-default btn-xs">Action 2</a>
					</div>
					Pannel with custom buttons
				</div>
				<div class="panel-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est
						vitae ultrices accumsan.</p>
				</div>
				<div class="panel-footer">This is standard panel footer</div>
			</div>
		</div>
	</div>
</div>
