
<div class=" " style="z-index: 1; " >
	
	<div class=" inspetor-entidades-view " >
		<a href="javascript:void(-1)" id="openTools" class="btn btn-default tooltips " data-toggle="tooltip" data-placement="right" title="Importar entidades!">
			<i class="pe-7s-tools fa-2x"></i>
		</a>
		<a href="javascript:void(-1)" id="generateApplication" class="btn btn-default tooltips " data-toggle="tooltip" data-placement="right" title="Gerar e baixar a aplicação">
			<i class="pe-7s-cloud-download fa-2x"></i>
		</a>
		<a href="javascript:void(-1)" id="saveApp" class="btn btn-default tooltips" data-toggle="tooltip" data-placement="right" title="Salvar">
			<i class="pe-7s-diskette fa-2x"></i>
		</a>
		<a href="javascript:void(-1)" id="addEntity" class="btn btn-default tooltips" data-toggle="tooltip" data-placement="right" title="Adicionar uma Entidade">
			<i class="pe-7s-browser fa-2x"></i>
		</a>
		<a href="javascript:void(-1)" id="addRelation" class="btn btn-default tooltips" data-toggle="tooltip" data-placement="right" title="Adicionar um Relacionamento">
			<i class="pe-7s-link	fa-2x"></i>
		</a>
	</div>
	<span class=" inspetor " style="z-index: 1"></span>
</div>
<div class="diagramToolsModal" />
<div id="paper" style="left: 0; top: 0; height: 100%; width: 100%; background-image: url(images/pattern.png); background-repeat: repeat; position: absolute;"></div>
