<div class="hpanel " style="z-index: 1">
	<span class="panel-body float-e-margins no-padding inspetor " style="z-index: 1"></span>
	<div class="panel-body float-e-margins no-padding">
		<a href="javascript:void(-1)" id="addEntity" class="btn btn-default ">
			<i class="pe-7s-browser fa-2x"></i>
		</a>
		<a href="javascript:void(-1)" id="addRelation" class="btn btn-default ">
			<i class="pe-7s-link	fa-2x"></i>
		</a>
		<a href="javascript:void(-1)" id="saveApp" class="btn btn-default ">
			<i class="pe-7s-diskette fa-2x"></i>
		</a>
		<a href="javascript:void(-1)" id="openTools" class="btn btn-default ">
			<i class="pe-7s-tools fa-2x"></i>
		</a>
	</div>
</div>
<!-- 	<div class="diagramToolsModal" style="z-index: 1"></div> -->
<!-- 	<div class="hpanel pull-left tools " style="z-index: 1"></div> -->
<!-- 	<div class="hpanel pull-left inspetor " style="z-index: 1"></div> -->
<!-- 	<div class="hpanel pull-left inspetor-relacionamentos " style="z-index: 1"></div> -->
<div id="paper" style="left: 0; top: 0; height: 100%; width: 100%; background-image: url(images/pattern.png); background-repeat: repeat; position: absolute;"></div>
