<div class="panel-body no-padding" attrb-name="inspetorEntidadesViewTemplate">
	<ul class="list-group">
		<li class="list-group-item panel-heading hbuilt">
			<h5 style="text-align: center; cursor: move;">Inspetor de Entidades</h5>
		</li>
	</ul>
	<a class="zoomMais btn btn-info"> mais </a>
	<a class="zoomMenos btn btn-info"> menos </a>
</div>
<div class="panel-footer">This is standard panel footer</div>



<!-- <div class="html-element" style="width: 150px; height: 170px; left: 120px; top: 120px; transform: scale(0.5,2.8333333333333335)"> <div class="entity-container"><div class="hpanel  "> -->


