<!-- generated: 05/08/2016 15:59:17 -->
<!-- Modulo´s form -->
<div class="main-content-inner">
	<div class="page-content">
		<div class="hpanel">
			<div class="panel-heading hbuilt">
				<div class="panel-tools"></div>
				Cadastrar Módulo
			</div>
			<div class="panel-body">
				<div class="main-principal">
					<div class="row">
						<div class="col-xs-12 col-sm-12">
							<div id="messages_div"></div>
						</div>
					</div>
					<div class="hr-24"></div>

					<div class="panel panel-default plain">
						<div class="">
							<div class="col-xs-12 col-sm-12">

								<form role="form" id="formModulo">
									<br>
									<input type="hidden" id="inputId" value="{{id}}">
									<div id="groupInputNome" class="form-group">
										<label class="control-label" for="inputNome">Nome do Módulo</label>
										<input type="text" id="inputNome" placeholder="Nome do Módulo" value="{{nome}}" class="form-control  validate[required]">
									</div>

								</form>
							</div>
						</div>
						<div class="clearfix form-actions form-group mb15">
							<div class="col-md-9">

								<button class="btn btn-default open-page-help" type="button">
									<i class="fa fa-wrench"></i>
									Extrair YAML
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="hpanel">
					<div class="panel-heading hbuilt">
						<div class="panel-tools"></div>
						Classes

					</div>
					<div class="items-container"></div>
				</div>
				<div class="clearfix form-actions form-group mb15">
					<div class="col-md-9">
						<a href="javascript:void(0)" id="save" class="save btn btn-info">
							<i class="ace-icon save fa fa-check bigger-110"></i>
							Salvar
						</a>
						<a href="javascript:void(0)" class=" generateModule  btn btn btn-outline btn-info " style="display: {{ id ? 'inline-block' : 'none' }} ">
							<i class="ace-icon fa fa-check bigger-110"></i>
							Gera modulo
						</a>
					</div>
				</div>

				<div class="panel-footer"></div>
			</div>
		</div>
	</div>
</div>
<div class="page-help-generate-yaml"></div>
