<!-- generated: 05/08/2016 15:59:17 -->
<!-- Modulo´s form -->
<div class="main-content-inner">
	<div class="page-content">
		<div class="hpanel">
			<div class="row">
				<div class="col-md-2">
					<div class="hpanel">
						<div class="panel-heading hbuilt"></div>
						<div class="panel-body" style="height: 90%;">
							<ul class="mailbox-list">
								<li>
									<a href="javascript:void(-1)" class="btn btn-success">
										<i class="fa fa-floppy-o""></i>
										Salvar alterações
									</a>
								</li>
							</ul>
							<hr>
							<ul class="editor-list">
								<li>
									<a href="javascript:void(-1)">
										<i class="fa fa-table text-info"></i>
										Cidade
									</a>
								</li>
								<li>
									<a href="javascript:void(-1)">
										<i class="fa fa-table text-warning"></i>
										Bairro
									</a>
								</li>
							</ul>
							<ul class="editor-list" style="position: fixed; bottom: 60px; padding-top: 0px;">
								<hr>
								<li>
									<a href="javascript:void(-1)">
										<i class="fa fa-gears"></i>
										Configurações
									</a>
								</li>
								<li>
									<a href="javascript:void(-1)">
										<i class="fa fa-question-circle"></i>
										Ajuda
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-10">
					<div class="hpanel no-padding">
						<div class="panel-heading hbuilt"></div>
						<div class="panel-body no-padding" style="height: 90%">
							<div class="summernote">
								<textarea id="codeEditor" name="code"></textarea>
								<div class="consoleError" style="color: red"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
