<!-- generated: 30/08/2015 20:23:12 -->
<!-- ViewApproach´s page -->
<div class="main-content-inner">
	<div class="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="#">Home</a>
			</li>
			<li class="active">Pesquisar ViewApproach</li>
		</ul>
	</div>
	<div class="page-content">
		<h1>Pesquisar ViewApproach</h1>
		<div class="main-content">
			<div class="panel panel-default plain">
				<div class="">
					<div class="col-xs-12 col-sm-12">
				<form role="form" id="formViewApproachFilter">
					<br>
							<div id="groupInputType" class="form-group">
								<label class="control-label" for="inputType">Tipo</label>
								<input type="text" id="inputType" placeholder="Pesquise pelo Tipo"  class="form-control">
							</div>
							<div id="groupInputComboId" class="form-group">
								<label class="control-label" for="inputComboId">Id visto no combo</label>
								<input type="text" id="inputComboId" placeholder="Pesquise pelo Id visto no combo"  class="form-control">
							</div>
							<div id="groupInputComboName" class="form-group">
								<label class="control-label" for="inputComboName">Nome visto no combo</label>
								<input type="text" id="inputComboName" placeholder="Pesquise pelo Nome visto no combo"  class="form-control">
							</div>
							<div id="groupInputComboVal" class="form-group">
								<label class="control-label" for="inputComboVal">Valor visto no combo</label>
								<input type="text" id="inputComboVal" placeholder="Pesquise pelo Valor visto no combo"  class="form-control">
							</div>
							<div id="groupInputTextField" class="form-group">
								<label class="control-label" for="inputTextField">Campo de texto no modal</label>
								<input type="text" id="inputTextField" placeholder="Pesquise pelo Campo de texto no modal"  class="form-control">
							</div>
							<div id="groupInputHiddenField" class="form-group">
								<label class="control-label" for="inputHiddenField">Campo de escondido do modal</label>
								<input type="text" id="inputHiddenField" placeholder="Pesquise pelo Campo de escondido do modal"  class="form-control">
							</div>
					
					</form>
				</div>
			</div>
			<div class="clearfix form-actions form-group mb15">
				<div class="col-md-9">
					<a href="javascript:void(0)" id="query" class="btn btn-primary">
						<i class="fa fa-search"></i>
						Pesquisar
					</a>
					&nbsp;
					<a href="#app/newViewApproach" class="btn btn-info">
						<i class="fa fa-plus "></i>
						Novo
					</a>
					&nbsp;
					<a href="javascript:void(0)" id="reset" class="btn btn-default">Limpar</a>
				</div>
			</div>
			</div>
			<div class="panel panel-default plain toggle panelClose panelRefresh">
				<div class="panel-body">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div>
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid" class="table-responsive"></div>
							<div class="">
								<div id="counter" class=" pull-left"></div>
								<div id="paginator" class=" pull-right"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
